@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

a {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: #0074d9;
}

li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: #0074d9;
}

.container {
  background-color: #e2e2e2;
  color: #0074d9;
}

h1 {
  color: black;
  margin-bottom: 0;
}

a:hover {
  background-color: #0074d9;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}

@media only screen and (min-width: 60em) {

  h1 {
    text-align: left;
  }

}
